In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('assgn-humanage').getOrCreate()

In [8]:
pp_info = [
    ('준열', 20),
    ('혜진', 26),
    ('나야', 59),
    ('안현', 39),
    ('야미', 72),
]

In [9]:
schema = ['human_name', 'age']

In [10]:
df = spark.createDataFrame(pp_info, schema)

In [11]:
df.show()

+----------+---+
|human_name|age|
+----------+---+
|      준열| 20|
|      혜진| 26|
|      나야| 59|
|      안현| 39|
|      야미| 72|
+----------+---+

In [12]:
df.printSchema()

root
 |-- human_name: string (nullable = true)
 |-- age: long (nullable = true)

In [13]:
df.createOrReplaceTempView('ages')

In [14]:
def pp_info(age):
    if age <35:
        return "young"
    elif 35<= age <= 59 :
        return "adult"
    elif 60 < age:
        return "senior"

In [15]:
spark.udf.register('pp_info', pp_info)